<div class="row" v-if="hasData">
    <div class="col-md-12">
        <ul class="pagination">
            <li :class="{ disabled: isFirst }"><a href="#" class="legitRipple" @click.prevent="navigate(1)">← First</a></li>
            <li :class="{ disabled: isFirst }"><a href="#" class="legitRipple" @click.prevent="navigatePrevious()">← Previous</a></li>
            <li><a href="javascript:void(0);" style="padding:4px 16px;color:black;">Page <input @blur="changeSelectedPage()" type="text" v-model="selectedPage" style="width:3em;border-radius:4px;padding:3px;" /> Of {{ paginationData.last_page }} ({{paginationData.total}} records)</a></li>
            <li :class="{ disabled: isLast }"><a href="#" class="legitRipple" @click.prevent="navigateNext()">Next →</a></li>
            <li :class="{ disabled: isLast }"><a href="#" class="legitRipple" @click.prevent="navigate(paginationData.last_page)">Last →</a></li>
            <li><a href="javascript:void(0);" class="legitRipple" style="padding:6px 16px;color:black;">View <select @change="setPageSize($event)" v-model="paginationData.per_page"  style="width:4em;border-radius:4px;padding:4px;" >
             <option value="10" >10</option>
             <option value="50" >50</option>
             <option value="100" >100</option>
             <option value="250" >250</option>
             <option value="500" >500</option>
           </select> per page</a></li>
        </ul>

        <!--<nav aria-label="Page navigation">
            <ul class="pagination">
              <li :class="{ disabled: isFirst }">
                <a href="#" aria-label="Previous" @click.prevent="navigatePrevious()">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li v-for="page in pages" :class="{ active: currentPage === page }">
                <a v-if="page !== '...'" href="#" @click.prevent="navigate(page)">{{ page }}</a>
                <span v-if="page === '...'">{{ page }}</span>
              </li>
              <li :class="{ disabled: isLast }">
                <a href="#" aria-label="Next" @click.prevent="navigateNext()">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>-->
    </div>
    <!--<div class="col-md-offset-1 col-md-2">
        <i class="rangeInformation control-lebel" style="margin-right:35px;">Showing {{ currentRange }} of {{ paginationData.total }}</i>
      </div>-->
    <!--<div class="col-md-2">
        <label class="control-lebel">Page size: &nbsp;</label>
        <select @change="setPageSize($event)" v-model="paginationData.per_page">
             <option value="10" >10</option>
             <option value="50" >50</option>
             <option value="100" >100</option>
             <option value="250" >250</option>
             <option value="500" >500</option>
           </select>
      </div>-->
</div>