<script lang="ts">
  import C from './searchFilter-vue';
  export default C;
</script>

<template src="./searchFilters.html"></template>

<style>
/*DatePicker in modal z-index issue*/
.daterangepicker{z-index:1151 !important;}
</style>