<div>
    <div class='row'>
        <div class='form-group'>
            <div class='col-sm-2 ' v-show="this.saved_searches.length>0">
                <select v-model='saved_search_select' class="form-control" id="savedSearches">
            <option v-for="(sv, index) in saved_searches" :value="sv.id"> {{sv.title}}
               </option>
          </select>
            </div>
            <div class="btn-group col-sm-2" style="width:auto">
                <button type="button" class="btn btn-success btn-icon legitRipple" @click="saveFilter" :disabled='disableSaveButton'>
            <i class="fa fa-save"></i> Save</button>
                <button type="button" class="btn btn-success dropdown-toggle legitRipple" data-toggle="dropdown" :disabled='!disableAddButton'
                    aria-expanded="false"><span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="#" @click.prevent="removeSavedSearch">
                                <i class="fa fa-close"></i> Remove</a>
                        </li>
                    </ul>
            </div>
            <div class='col-sm-8'>
                <button type="button" class="btn btn-primary" @click="addFilter" :disabled='disableAddButton'>
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Filter
          </button>
                <span v-if="search_filters.length" class="label label-success label-rounded" v-for="(sf, index) in search_filters"><span style="cursor:pointer" @click="editFilter(sf)"><span class='fa fa-edit'></span>                {{sf.attribute_name | snakeToCamelCase}} {{sf.operator}} '{{sf.value}}'</span>
                <span class='fa fa-close'
                    style="cursor:pointer" @click="removeSearchFilter(sf.id, index)"></span>
                    </span>
            </div>
        </div>
    </div>
    <div id="saveFilter_modal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form class="form-horizontal" @submit.prevent="addSearchFilter" novalidate id="saveFilterForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h5 class="modal-title">Save Filter</h5>
                    </div>
                    <div class="modal-body">
                        <fieldset class="content-group">
                            <div class="form-group">
                                <label class="control-label col-md-4" for="attribute">Enter the title:</label>
                                <div class="col-md-8">
                                    <input v-model='saved_search.title' class="form-control" placeholder="Enter title for the saved search" />
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="modal-footer">
                        <button type="button" @click='saveSearch' class="btn btn-xs btn-primary">
                <i class="icon-check"></i> Save
              </button>
                        <button class="btn btn-danger btn-xs legitRipple" data-dismiss="modal">
                <i class="icon-cross"></i> Close</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="addFilter_modal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form class="form-horizontal" @submit.prevent="addSearchFilter" novalidate id="addFilterForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h5 class="modal-title">Add Filter</h5>
                    </div>

                    <div class="modal-body">
                        <fieldset class="content-group">
                            <div class="form-group">
                                <label class="control-label col-md-4" for="attribute">Select Field</label>
                                <div class="col-md-8">
                                    <select class="form-control" v-model='attribute_select' id="attributes_select">
                      <option value="">Select Field</option>
                      <option v-for="(key, value, index) in attributes" :value="value"> {{value|snakeToCamelCase}}</option>
                    </select>
                                </div>
                            </div>

                            <div class="form-group" v-if="attribute_select">
                                <label class="control-label col-md-4" for="operator">Select Operator</label>
                                <div class="col-md-8">
                                    <select class="form-control" v-model='operator'>
                      <option v-for="(value, index) in operators"> {{value}}</option>
                    </select>
                                </div>
                            </div>
                            <div class="form-group" v-show="attributes[attribute_select] != 'boolean' && operator!='Empty' && operator!='NotEmpty' && attribute_select">
                                <label class="control-label col-md-4" for="value">Enter Value</label>
                                <div class="col-md-8">
                                    <input v-if="attributes[attribute_select] == 'string' || attributes[attribute_select] == 'text'" v-model='value' class="form-control"
                                        placeholder="Enter Value" />
                                    <input v-else-if="attributes[attribute_select] == 'integer'" type="number" v-model='value' class="form-control" placeholder="Enter Value"
                                    />
                                    <input v-else-if="attributes[attribute_select] == 'float'" type="number" step="0.01" v-model='value' class="form-control"
                                        placeholder="Enter Value" />
                                    <input id="datePicker" v-show="attributes[attribute_select] == 'datetime'" v-model='value' class="form-control daterange-single"
                                        placeholder="Enter Value in (mm/dd/yyyy)" />
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-xs btn-primary">
                <i class="icon-check"></i> Save
              </button>
                        <button class="btn btn-danger btn-xs legitRipple" data-dismiss="modal">
                <i class="icon-cross"></i> Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>